.bar, .bar * {
	font-size: 9.5pt;
	background-color: #1a1b26;
	color: #c0caf5;
	padding: 0;
}

label {
	font-weight: bold;
	margin: 0;
}

.workspaces button,
.media {
	background-color: #1a1b26;
	padding: 0 1px;
	margin: 0;
}

.focused label {
	color: #7aa2f7;
}

.client-title {
	margin-left: 1em;
}

.notification image {
	margin-left: 1em;
}

.battery progressbar {
	margin: 0 6px;
}

.clock {
	margin: 0 6px;
	font-size: 1.1em;
}

progress, highlight {
	min-height: 8px;
}
