@page {
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black; /* Adiciona bordas visíveis */
  padding: 2px;
  text-align: left;
}
th {
  background-color: #b3b3b3ff; /* Cor de fundo para o cabeçalho (opcional) */
}
