@use "sass:color";
@use "theme" as *;

window#launcher {
  border: 1px solid $bg_highlight;
  border-radius: 11px;

  box.AppLauncher {
    background-color: transparent;
    padding: 1em;
    entry {
      margin-bottom: 0.8rem;
      &,
      * {
        background-color: $bg_highlight;
      }
    }

    .AppList {
      &,
      * {
        background-color: transparent;
      }
    }

    button {
      min-width: 0;
      min-height: 0;
      padding: 0.5rem;
      transition: ease 110ms;

      &:focus {
        background-color: $bg_highlight;
        border: 2px solid $blue;
      }

      image {
        -gtk-icon-size: 3em;
        margin-right: 0.3rem;
      }

      label.name {
        font-weight: bold;
        font-size: 1.1em;
      }

      label.description {
        color: color.adjust($color: $fg, $alpha: 0.8);
      }
    }

    box.not-found {
      padding: 1rem;

      image {
        -gtk-icon-size: 6em;
        color: color.adjust($color: $fg, $alpha: 0.7);
      }

      label {
        color: color.adjust($color: $fg, $alpha: 0.9);
        font-size: 1.2em;
      }
    }
  }
}
