@use "theme" as *;
@use "sass:color" as color;

window.bar {
  * {
    font-size: 9.5pt;
  }

  button {
    padding: 0px;
  }

  image {
    border: 0;
    padding: 0 2px;
    -gtk-icon-size: 1.25em;
  }

  label {
    font-weight: bold;
    margin: 0;
  }

  .client {
    margin: 0 5px;
  }

  .workspaces > button {
    .indicator {
      font-size: 0;
      min-width: 10px;
      min-height: 10px;
      border-radius: 5px;
      margin: 7px 2px;
      transition: 250ms;
      background-color: color.adjust($color: $blue, $alpha: -0.6);
    }

    &.occupied .indicator {
      background-color: $blue;
    }

    &.urgent .indicator {
      background-color: $red;
    }

    &.active .indicator {
      background-color: $purple;
    }

    &.active .indicator {
      min-width: 18px;
    }
  }

  button.volume {
    border: 0;
    padding: 0 2px;
  }

  .systray {
    padding: 0 7px;
    border-radius: 10px;
    &,
    > .tray-item,
    > .tray-item image.tray-icon {
      background-color: $blue7;
    }

    .tray-item {
      border: 0;
      padding: 0 2px;
    }
  }

  .time {
    margin: 0 6px;
    font-size: 1.1em;
    color: $orange;
  }
}
