#applauncher {
  all: unset;
  background-color: $background;
  border-radius: 20px;
  border: 2px solid $bg_highlight;

  entry {
    &:focus {
      border: 2px solid $blue;
    }
  }

  button {
    &:focus {
      background-color: $bg_highlight;
      border: 2px solid $blue;
    }
  }
}
